* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* Reset CSS */

a {
    text-decoration: none;
    color: inherit;
    /* 부모의 컬러색깔을 상속받아라 */
}

button,
textarea,
input {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    box-shadow: none;
    outline: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #2b292d;
}

.fill-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 48px;
    border-radius: 2px;
    background-color: #3040C4;
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.05em;
    font-weight: 700;
    transition: opacity 300ms ease-in-out;
}

.fill-button:hover {
    opacity: 0.7;

}

.fill-button.inverted {
    background-color: #fff;
    color: #3040C4;
}

/* Landing */
.landing {
    background-color: #FDDED8;
    text-align: center;
}
.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.landing-title {
    letter-spacing: -0.05em;
    font-size: 40px;
    color: #2b292d;
    line-height: 1;
    margin-bottom: 24px;
}

.landing-desc {
    margin-bottom: 20px;
}

.landing .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .button-group .fill-button:first-child {
    margin-right: 8px;
}


/* testimonials */

.testimonials {
    background-color: #F4F5F7;
    text-align: left;
}

.testimonials-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.testimonials-title {
    color: #2B292D;
}

.testimonials-content-left {
    margin-bottom: 40px;
}
.testimonials-title{
    font-size: 22px;
    letter-spacing: -0.04em;
    line-height: 1.5;
    margin-bottom: 30px;
}






/* >= 768px (Desktop) */
@media screen and (min-width:768px) {
    /* Reset CSS */
    p {
        font-size: 22px;
        line-height: 1.36363636;
    }


    /* Landing */
    .landing-title {
        font-size: 70px;
        line-height: 1.0285714286;
        margin-bottom: 32px;
    }


    .landing-desc {
        margin-bottom: 32px;
    }

    .landing .button-group .fill-button:first-child {
        margin-right: 16px;
    }


    .fill-button {
        width: 160px;
        height: 56px;
        font-size: 18px;
        line-height:1.555555556 ;
    }

    .landing-content {
        height: auto;
        padding: 120px 0;
    }



    /* testimonials */
    .testimonials-content {
        height: auto;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 50px 50px;
    }

    .testimonials-title {
        font-size: 26px;
    }
    .testimonials-content-left {
        margin-bottom: 0;
        margin-right: 30px;
    }
}


/* Custom Grid System - Fix Container Width */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 960px !important;
    }
}
