* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* Reset CSS */

a {
    text-decoration: none;
    color: inherit;
    /* 부모의 컬러색깔을 상속받아라 */
}

button,
textarea,
input {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    box-shadow: none;
    outline: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #2b292d;
}

.landing {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 568px;
    text-align: center;
    background-color: #FDDED8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing h1 {
    font-size: 40px;
    letter-spacing: -0.05em;
    margin-bottom: 15px;
}

.landing p {
    margin-bottom: 15px;
}
.buttons {
    width: 268px;
    height: 48px;
    display: flex;
}

.buttons button {
    width: 140px;
    height: 48px;
    margin: 0 5px;
    border-style: none;
}

.buttons #btn1 {
    background-color: #3040C4;
    color: #fff;
}
.buttons #btn2 {
    background-color: #fff;
    color: #3040C4;
}
/* >= 768px (Desktop) */
@media screen and (min-width:768px) {
    /* Reset CSS */
    p {
        font-size: 22px;
        line-height: 1.36363636;
    }
}


/* Custom Grid System - Fix Container Width */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 960px !important;
    }
}
